<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>EDITH LONDON</title>
</head>
<body>

  <div class="wrapper">
    <div class="headers">
    
     

      <%#= image_tag("http://upload.wikimedia.org/wikipedia/commons/3/31/David_-_Napoleon_crossing_the_Alps_-_Malmaison1.jpg") %>

      
      <%= image_tag("edithlogo.png")  %>
      

     
    </div>
  </div>

</body>
</html>